body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content:space-around; /*use to set box1 to 5 in differ differ ways like 
        space-around, space-evenly, center, flex-start, flex-end etc*/
/* Short crisp notes of flexbox - https://chatgpt.com/share/69497397-f318-8002-bccf-5467a9d1a0ae */
    
}
/* after setting display as flex we can use flexbox properties like 
flex direction i.e, row(default)/ row-reverse/ column/ column-reverse */
#box1{
    background-color: aqua;
}
#box2{
    background-color: pink;
}
#box3{
    background-color: darkkhaki;
}
#box4{
    background-color: indianred;
}
#box5{
    background-color: slateblue;
}