div{
    height: 100px;
    width: 100px;
    border: 10px solid blue;
    border-top: 10px solid black;
    border-radius: 50%;
    animation:spin 5s ease-in 0s infinite normal; /*for slow internet use step() instead of ease-in*/
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}